p {
  border: 1px solid black;
}

strong {
  border: inherit;
}

/* Specificity Demo */
h1 {
  color: yellow;
  font-size: 12px;
}

.heading-class {
  color: blue;
  font-size: 24px;
  text-decoration: underline;
}

#heading-id {
  color: green;
  text-decoration: none;
}
